<!-- Control Form -->
<div class="col" style="padding-bottom: 16px;">

	<form class="form-horizontal">
		<button type="button" class="btn btn-primary" (click)="generateHexbinData()">Generate Data</button>
	</form>

</div>

<!-- Map -->
<div class="col">
	{{count}} events
	<div leaflet style="height: 300px;"
		 [leafletOptions]="options"
		 [leafletBaseLayers]="baseLayers"
		 [leafletLayersControlOptions]="layersControlOptions">

		<div [leafletHexbin]="hexbinData1" [leafletHexbinOptions]="hexbinOptions1" (leafletHexbinLayerReady)="layerReady($event)" (leafletHexbinMouseover)="onMouseOver($event)" (leafletHexbinMouseout)="onMouseOut()"></div>
		<div [leafletHexbin]="hexbinData2" [leafletHexbinOptions]="hexbinOptions2" (leafletHexbinLayerReady)="layerReady($event)" (leafletHexbinMouseover)="onMouseOver($event)" (leafletHexbinMouseout)="onMouseOut()"></div>
		<div [leafletHexbin]="hexbinData3" [leafletHexbinOptions]="hexbinOptions3" (leafletHexbinLayerReady)="layerReady($event)" (leafletHexbinMouseover)="onMouseOver($event)" (leafletHexbinMouseout)="onMouseOut()"></div>

	</div>

</div>
