<!-- Control Form -->
<div class="col" style="padding-bottom: 16px;">

	<form class="form-horizontal">
		<button type="button" class="btn btn-primary" (click)="playing = !playing">Toggle Pings</button>
	</form>

</div>

<!-- Map -->
<div class="col">

	<div leaflet style="height: 300px;"
		 leafletPing
		 (leafletPingObserver)="setLeafletPingObserver($event)"
		 [leafletOptions]="options"
		 [leafletBaseLayers]="baseLayers"
		 [leafletLayersControlOptions]="layersControlOptions">
	</div>

</div>
