/* You can add global styles to this file, and also import other style files */

.hexbin-hexagon {
  stroke: #000;
  stroke-width: .5px;
}

.ping-red {
  stroke: #333;
  fill: #d99;
  stroke-width: 1px;
}

.ping-blue {
  stroke: #333;
  fill: #99d;
  stroke-width: 1px;
}

